body {
    font-family: sans-serif;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 16px;
}

/* formulas */
var, .math {
    font-family: serif;
    font-size: 1.15em;
    white-space: nowrap;
    font-weight: normal;
    padding-right: 0.15em;
}

.math var {
    font-size: 1em;
}

/* form */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 24px;
}

input, button {
    font-size: 1em;
    padding: 4px 8px;
}

/* force it to be the same size as the other parameters */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 6px 0;
}

button {
    align-self: flex-end;
}

.error {
    color: red;
}

/* results */
th, td {
    border: 1px solid #ccc;
    padding: 4px 10px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

.plots {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 16px;
    margin-top: 16px;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.plots svg {
    width: 100%;
    height: auto;
}
